
@{
    ViewBag.Title = "ServerError";
}

<div class="cent color-text">


    <h1 class="color-main">500</h1>

    <h2>Ошибка сервера!</h2>
    <h2>Мы уже приступили к работе по её исправлению</h2>

    <div>
        @Html.ActionLink("На главную", "Index", "Home", "", new { @class = "color-pale" })
    </div>
</div>