@model IEnumerable<SocialNW.PL.Models.CommentViewModel>

@{
    Layout = null;
}
<div class="comments">
    <ul class="list-unstyled">
        @foreach (var comment in Model)
        {
            <li>
                <p>
                    <span>
                        <img src="@Url.Action("UserPhotos", "Profile", new { id = comment.AppUserId})" height="35" width="35" id="navBarImg" />
                    </span>
                    <span class="no-pad-bottom date-posted">Posted @comment.CommentDate</span>
                </p>
                <p>@comment.Text</p>
            </li>
        }
    </ul>
</div>
