@model SocialNW.PL.Models.ProfileViewModel

@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "GetUserById";
}
<hr />
<div class="container-fluid">
    <div class="row-fluid"><br />
        <div class="col-md-3">
            @Html.Partial("_Menu")
        </div>
        <div class="col-md-9">
            @if (Model.Id == User.Identity.GetUserId<int>())
            {
                <div class="new-post pad-bottom">
                    @using (Html.BeginForm("Create", "Post"))
                    {
                    <div class="form-group">
                        <label for="post">Write a new post:</label>
                        <textarea class="form-control" name="Post" id="post" placeholder="New post"></textarea>
                        <input type="hidden" name="name" value="@Model.FirstName" />
                    </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    }
                </div>
            }
            <hr />
            <div class="row" id="post-nav-bar">
               @* @Ajax.ActionLink("My posts", "GetPostsByUser", "Post", new { id = User.Identity.GetUserId<int>() }, new AjaxOptions { UpdateTargetId = "postsList", InsertionMode = InsertionMode.Replace })*@
                &nbsp; &nbsp;
                @*@Ajax.ActionLink("My friends posts", "GetFriendsPosts", "Post", new { id = User.Identity.GetUserId<int>() }, new AjaxOptions { UpdateTargetId = "postsList", InsertionMode = InsertionMode.Replace })*@
            </div>
            <div id="postsList">
                @{Html.RenderAction("GetPostsByUser", "Post", new { id = User.Identity.GetUserId<int>() });}
            </div>
        </div>
    </div>
</div>
