@model SocialNW.PL.Models.ProfileViewModel
@{
    ViewBag.Title = "Home Page";

}
@Styles.Render("~/Content/Profile.css")
<br /><br />
<div class="profile">
    <div class="photo">
        <img src="http://cdn.onlinewebfonts.com/svg/img_291862.png" alt="Alternate Text" />
    </div>
    <div class="friends">
        <div class="item">
            1
        </div>
        <div class="item">
            2
        </div>
        <div class="item">
            3
        </div>
        <div class="item">
            4
        </div>
        <div class="item">
            5
        </div>
        <div class="item">
            6
        </div>
    </div>
    <div class="about">
        <div class="p-name">
        </div>
        <div class="descr">desc</div>
    </div>
    <div class="links">
        <a href="/">Messages</a>
        <a href="/">Messages</a>
        <a href="/">Messages</a>
    </div>
</div>